#navbar {
    position: fixed;
    top: 12px;
    width: 98.2%;
}

#navbar ul {
    list-style-type: none;
}

#navbar li {
    display: inline;
}

#navbar li:hover {
    cursor: pointer;
}

#navbar #left {
    float: left;
}

#navbar #center {
    float: none;
    justify-content: space-between;
}

#navbar #right {
    float: right;
}